.card .card-img {
	height: 300px !important;
	margin:	0;
	padding: 0;
}

.card-img-top {
	object-fit: scale-down !important;
	object-position: center !important;
}

.book-card {
	background: #eee;
	border-radius: 10px;
	height: 100%;
	max-width: 100%;
}

.card-text {
	word-wrap: break-word !important;
}

.btn-add {
	background: #2eb7ed !important;
	border-color: #2eb7ed !important;
}

.btn-add:hover {
	color: #49cbff !important;
	background: #f9f9f9 !important;
}