.card .card-img {
	height: 300px !important;
	margin:	0;
	padding: 0;
}

.card-img-top {
	object-fit: scale-down !important;
	object-position: center !important;
}

.book-card {
	background: #eee;
	border-radius: 10px;
	height: 100%;
	max-width: 100%;
}

.card * {
	width: 100%;
	object-fit: cover;
}

.card-text {
	word-wrap: break-word !important;
}

.btn-info {
	background: #6699cc;
	border: none;
}

.btn-info:hover {
	background: #2eb7ed;
	border: none;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
	 -webkit-transition: all .5s ease-in-out;
	    -moz-transition: all .5s ease-in-out;
	     -ms-transition: all .5s ease-in-out;
	      -o-transition: all .5s ease-in-out;
	         transition: all .5s ease-in-out;
}